
.img-fluid {
    width: 100%;
}

.top-15 {
    margin-top: 15px;
}
.text-indent-50{
    text-indent: 50px;
}
.text-center{
	font-weight: bold;
}
.table-bordered{
	text-align: center;
}
.alinhamentotopo{
	margin-top: 130px;
}