
.img-fluid {
    width: 100%;
}

.top-15 {
    margin-top: 15px;
}
.text-indent-50{
    text-indent: 50px;
}

.negrito{
	font-weight: bold;
}
.centro{
	text-align: center;
}
.alinhamentotopo{
	margin-top: 130px;
}

.contato{
	margin-top: 30px;
}

.form-contato{
	margin: 0 auto;
}

.form-contato-titulo{
	margin-bottom: 25px;
}

.sobre{
	margin-top:10px;
	margin-bottom: 10px; 
}

.possuiWhats{
	display: flex;
	align-items: center;
}

.possuiWhats input{
	margin-right: 3px;
	height: 15px;
	width: 15px;
}

.block-with-text {
  overflow: hidden;
  position: relative; 
  line-height: 1.2em;
  max-height: 3.6em; 
  text-align: justify;  
  margin-right: -1em;
  padding-right: 1em;
}

.block-with-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.block-with-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}
